{% extends "base.html" %}

{% block title %}
<a class="catalog-title" href="{{ url_for('showCatalog') }}">
  <h1 class="text-uppercase text-center">
    The Catalog - Latest Items
  </h1>
</a>
{% endblock %}

{% block name_area %}
<h3 class="text-center navbar-text">
  {% if user %}
    Viewing as {{user.name}}
  {% else %}
    Viewing as unknown
  {% endif %}
</h3>
{% endblock %}

{% block action_area %}
  {% if user %}
  <a href="{{ url_for('doLogout') }}">Logout</a>
  {% else %}
  <a href="{{url_for('showLogin')}}">Login</a>
  {% endif %}
{% endblock %}

{% block side_navigation %}
<div class="col-md-12 side-navigation text-center">
  {% if categories %}
    <h4>Main Categories</h4>
    <hr>
      {% for category in categories %}
        <p>
          <h4><a href="{{ url_for('showCategoryItems', category_id=category.id) }}">{{category.title}}</a></h4>
        </p>
      {% endfor %}
  {% else %}
    <h5 class="text-center">No categories were found in database.</h5>
  {% endif %}
</div>
{% endblock %}

{% block error_message %}
  {% with error_messages = get_flashed_messages(with_categories=true) %}
  {% if error_messages and error_messages[0] and error_messages[0][0] == 'error' %}
    <div class="alert alert-danger" role="alert">
      <strong>Oh snap!</strong> {{error_messages[0][1]}}
    </div>
  {% endif %}
  {% endwith %}
{% endblock %}

{% block success_message %}
  {% with success_messages = get_flashed_messages(with_categories=true) %}
  {% if success_messages and success_messages[0] and success_messages[0][0] == 'success' %}
    <div class="alert alert-success" role="alert">
      <strong>Yay!</strong> {{success_messages[0][1]}}
    </div>
  {% endif %}
  {% endwith %}
{% endblock %}

<!-- Render the main area of the catalog's main page. -->
{% block content %}
<div class="col-md-12">
  <!-- Show the new category button if the user is logged in. -->
  {% if user %}
  <form class="text-right" action="{{ url_for('createCategory') }}" method="GET">
    <button type="submit" class="btn btn-submit text-right">
      Add a new Category
    </button>
  </form>
  {% endif %}
  <!-- Show a default message if no items were retrieved from database. -->
  {% if not latest_items %}
    <h2 class="text-center">No items were found in database.</h2>
  {% else %}
    <h2 class="text-center">Latest items</h2>
    <!-- Render the items in the main page. -->
    <div class="row">
    {% for item in latest_items %}
      <div class="col-md-4 margin-vertical">
        <a class="no-decoration" href="{{ url_for('showCategoryItem', category_id=item.category_id, item_id=item.id) }}">
          <article class="item-element">
            <section>
              <div class="row">
                <div class="col-md-12 text-center">
                  <h3>
                    {{item.title}}
                  </h3>
                </div>
              </div>
            </section>
          </article>
        </a>
      </div>
    {% endfor %}
    </div>
  {% endif %}

</div>
{% endblock %}
