body {
  max-width: 80%;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
}

.side-navigation {
    height: 70vh;
    background-color: #B1D0D8;
    border-radius: 4px;
}

.side-navigation hr {
    margin-top: 0;
}

.item-element {
  border: 2px solid #647F90;
  border-radius: 10px;
}

.item-element:hover {
  color: #E5E5E5;
  background-color: #312828;
}

.margin-vertical {
  margin-top: 10px;
  margin-bottom: 10px;
}

.item-element h1, h2, h3, h4, h5, h6 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn-submit {
  background-color: #286476;
  border-color: #9c9c9c;
  color: white;
}

.btn-submit:hover {
  background-color: #21374b;
  border-color: #9c9c9c;
  color: white;
}

.selected {
    text-decoration: underline;
}

.action-area-text {
  font-size: 18px;
  align-self: center;
  align-items: flex-end;
}

.navbar-text {
  color: #242038;
}

.navbar {
  background-color: #8EB3B8;
  margin-bottom: 15px;
}

.no-decoration, .no-decoration:hover {
  text-decoration: none;
}

.catalog-title, .catalog-title:hover {
  text-decoration: none;
  color: #242038;
}

.catalog-title h1 {
  margin-bottom: 20px;
}

.section {
  margin-top: 10px;
}

.row.is-flex {
  display: flex;
  flex-wrap: wrap;
}

.row.is-flex>[class*="col-"] {
  display: flex;
  flex-direction: column;
}

.error-message {
  color: red;
}